* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(./img/bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Ubuntu';
}

.header {
    width: 100%;
}

.header-wrapper {
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.logo {
    margin-left: 79px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    align-items: center;
    color: #FFFFFF;
    transition: 0.3s;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
}

.icon {
    transition: 0.3s;
}

.link-icon {
    padding-right: 27px;
}

.compass::after {
    content: url(./img/line-nav.png);
    padding-left: 25px;
    height: 23px;
}

.log-menu {
    margin-right: 79px;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #FFFFFF;
}

.log-menu-log-in {
    transition: 0.3s;
}

.log-menu-sign-up {
    transition: 0.3s;
}

.main-form {
    max-width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    margin: 54px auto;
    position: relative;
}

.sticker {
    width: 18px;
    height: 18px;
    left: 0px;
    top: 29px;
    background: #3CB878;
    position: absolute;
}

.container {
    width: 322px;
    margin: 0 auto;
}

.link-menu {
    padding-top: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    font-weight: 400;
    align-items: center;
    text-decoration: none;
}

.active-link {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #434343;
}

.link-login {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    transition: 0.3s;
}

.social-button {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 160px;
    height: 48px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.button-facebook {
    margin-right: 4px;
    background: #305DB8;
    transition: 0.3s;
}

.button-google {
    background: #DF4A32;
    transition: 0.3s;
}

.img-facebook {
    margin: 12px 19px 12px 17px;
}

.img-google {
    margin: 15px 7px 14px 12px;
}

.text-button {
    display: flex;
    align-items: center;
}

.text-facebook::before {
    content: url(./img/line-social-btn.png);
    padding-right: 18px;
}

.text-google::before {
    content: url(./img/line-social-btn.png);
    padding-right: 30px;
}

.form-devider {
    margin-top: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    gap: 2%;
}

.form-devider::before ,
.form-devider::after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background: #F2F2F2;
}

.list-input {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.4s ease-in-out 0.2s;
}

.input {
    margin-bottom: 15px;
    padding-left: 20px;
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    outline: none;
    
}

.input-confirm {
    margin-bottom: 12px;
}

.input::placeholder {
    color: #BEBEBE;
}


.label-checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    color: #434343;

}

input.checkbox {
    margin-right: 8px;
}

.checkbox {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
}

.label-link-terms {
    text-decoration: none;
}

.text-checkbox {
    padding-left: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    align-items: center;
    cursor: auto;
}

.label-text-color {
    color: rgba(60, 184, 120, 1);
    cursor: pointer;
    transition: 0.3s;
}

.link-agree {
    text-decoration: none;
}

.button-create {
    width: 100%;
    height: 46px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    transition: 0.3s;
}

.link-create {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.text-button-create {
    width: 324px;
    padding: 16px 0;
    text-align: center;
}

.check-green {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
    margin-right: 8px;
}

.svg-check {
    display: none;
}

input[type=checkbox] {
    display: none;
}

.checkbox:checked~.check-green .svg-check {
display: block;
}

.logo:hover {
    color: rgba(1, 129, 63, 1);
    transform: scale(1.2);
}

.log-menu-log-in:hover {
    color: rgba(1, 129, 63, 1);
    transform: scale(1.2);
}

.log-menu-sign-up:hover {
    color: rgba(1, 129, 63, 1);
    transform: scale(1.2);
}

.icon:hover path {
    fill: rgba(1, 129, 63, 1);
}

.icon:hover {
    transform: scale(1.2);
}

.link-login:hover {
    text-decoration: underline;
    color: #01813F;
    transform: scale(1.2);
}

.button-facebook:hover {
    background-color: #022263;
    transform: scale(0.9);
}

.button-google:hover {
    background-color: #AB1F09;
    transform: scale(0.9);
}

.label-text-color:hover {
    text-decoration: underline;
    color: #01813F;
    transform: scale(1.2);
    
}

.input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
    
}

.button-create:hover {
    background-color: #01813F;
    transform: scale(0.9);
}